<div class="container">
  <div class="messages">
    <div class="message-list">
      <div *ngFor="let comment of comments" class="comment">
        <strong>{{ comment.user | emailShortener | capitalize }}:</strong> {{ comment.text }}
      </div>
    </div>
    
    <div class="comment-form">
      <mat-form-field appearance="fill" class="comment-input">
        <mat-label>Type something...</mat-label>
        <input matInput [formControl]="commentControl" placeholder="Type your comment...">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addComment()">Send</button>
    </div>
  </div>
</div>
