.container{
    display: flex;
    height: 800px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-style: bold;
}

.chats {
    font-size: 20px;
    width: 50%;
    background: #444444;
}

.messages {
    width: 60%;
    background: #525252;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.groups {
    width: 10%;
    background: #313131;
}

.search {
    margin: 10px;
}

.message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}

.comment {
    background: #626262;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-form {
    display: flex;
    padding: 10px;
    background: #444444;
}

.comment-input {
    flex-grow: 1;
    margin-right: 10px;
}