<mat-toolbar color="primary">
    Mayhem

    <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">

      <button mat-raised-button color="primary" routerLink="/home">
        Chats
      </button>
  
      <button mat-raised-button color="primary" routerLink="/user-card">
        Account
      </button>

      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ user.displayName }}
        <mat-icon>expand_more</mat-icon>
      </button>
    </ng-container>
        
    
    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </ng-template>
      
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>



